header {
    border-style: solid;
    height: 75px;
    position:absolute;
    width:99%;
    top: 0px;
}

#one {
    border-style: solid;
    height: 550px;
    width: 900px;
    position:absolute;
    top:85px;

}
#two {
    height: 550px;
    width:310px;
    border-style:solid;
    position:absolute;
    top:85px;
    left: 917px;
}

#three {
    height: 550px;
    width: 290px;
    border-style:solid;
    position:absolute;
    top: 85px;
    right:2px;
}
footer {
    border-style:solid;
    height: 50px;
    position:absolute;
    bottom: 0%;
    width: 99%;
}

#fish {
    position:absolute;
    left:20%;
}

#the {
    position:absolute;
    top: 175px;
    left:40%;

}

#pancakes{
    position:absolute;
    top: 1%;
    left:10%;
}

#the:hover {
    color:red;
    background-color: aliceblue;
}

#ingredienser {
    position: absolute;
    top: 35%;
    left:35%;
}

#listaingredienser {
    position:absolute;
    top: 40%;
 font-size: large;
 
}

body{
    background-color: blanchedalmond;
}

#form {
    position:absolute;
    right:5%;
    top: 40%;
}